:root {
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;

  /* 2 */
  --td-a-black-grey: #414141;
  --td-a-turquoise-rude: #3c7369;
  --td-a-turquoise: #7dcfc1;
  --td-a-turquoise-soft: #cdf0f0;
  --td-a-pink: #ffe6e1;
  --td-a-pink-soft: #fcf0ee;

  --td-a-divider-light: var(--td-a-turquoise-rude);
  --vt-c-divider-dark: rgba(84, 84, 84, 0.48);

  --td-a-text-light: var(--td-a-black-grey);
  --vt-c-text-dark: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background: var(--td-a-pink-soft);
  --color-background-soft: var(--td-a-turquoise-soft);
  --color-background-detail: var(--td-a-turquoise);
  --color-background-item: var(--td-a-pink);

  --color-border: var(--td-a-divider-light);

  --color-text: var(--td-a-text-light);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);

    --color-border: var(--vt-c-divider-dark);

    --color-text: var(--vt-c-text-dark);
  }
}

body {
  min-height: 90vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
