:root {
  /* light theme colors */
  --td-a-black-grey: #414141; /* text */
  --td-a-turquoise-rude: #3c7369; /* border */
  --td-a-turquoise: #7dcfc1; /* btn background */
  --td-a-turquoise-soft: #cdf0f0; /* app background */
  --td-a-pink: #ffe6e1; /* item&input background */
  --td-a-pink-soft: #fcf0ee; /* main background */
  --td-a-black-shadow-1: rgba(0, 0, 0, 0.16); /* shadow-1 */
  --td-a-black-shadow-2: rgba(0, 0, 0, 0.19); /* shadow-2 */

  /* dark theme colors */
  --td-a-dark-blue: #004173; /* app background */
  --td-a-midnight: #191e37; /* item&input background */
  --td-a-black: #19172d; /* main background */
  --td-a-purple: #654589; /* btn background */
  --td-a-grey: #cdd7cf; /* border color */
  --td-a-grey2: #cdd7cf; /* text color */
  --td-a-purple-shadow-1: rgba(157, 0, 193, 0.5); /* shadow-1 */
  --td-a-purple-shadow-2: rgba(101, 69, 137, 0.6); /* shadow-2 */
}

:root {
  --color-background: var(--td-a-pink-soft); /* main background */
  --color-background-soft: var(--td-a-turquoise-soft); /* app background */
  --color-background-detail: var(--td-a-turquoise); /* btn background */
  --color-background-item: var(--td-a-pink); /* item&input background */

  --color-border: var(--td-a-turquoise-rude); /* border */

  --color-text: var(--td-a-black-grey); /* text */

  --color-shadow-1: var(--td-a-black-shadow-1); /* shadow-1 */
  --color-shadow-2: var(--td-a-black-shadow-2); /* shadow-2 */

  --section-gap: 15px;
  --section-margin: 15px;
  --section-padding-1: 10px;
  --section-padding-2: 15px;
  --border-radius-element: 20px;
  --border-radius-background: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--td-a-black); /* main background */
    --color-background-soft: var(--td-a-dark-blue); /* app background */
    --color-background-detail: var(--td-a-purple); /* btn background */
    --color-background-item: var(--td-a-midnight); /* item&input background */

    --color-shadow-1: var(--td-a-purple-shadow-1); /* shadow-1 */
    --color-shadow-2: var(--td-a-purple-shadow-2); /* shadow-2 */

    --color-border: var(--td-a-grey); /* border color */

    --color-text: var(--td-a-grey2); /* text color */
  }
}

body {
  min-height: 90vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
